# Ignorar archivos de logs y dependencias
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignorar archivos de entorno y dependencias
node_modules/
dist/
build/
coverage/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos de configuración de CI
.travis.yml
.github/
.gitlab-ci.yml
circle.yml
.gitignore